<h1>User List</h1>
<table>
    <tr>
	<th>no</th>
	<th>name</th>
	<th>age</th>
	<th>sex</th>
    </tr>
<% @users.each do |u|%>
    <tr>
	<td><%= u.id %></td>
	<td><%= u.name %></td>
	<td><%= u.age %></td>
	<td><%= u.sex %></td>
    </tr>
<%end%>
</table>

<%= form_for @user, :url => home_create_path do |f|%>
name:  <%= f.text_field :name %><br />
age:  <%= f.text_field :age %><br />
sex:  <%= f.text_field :sex %><br />
<%= f.submit 'add user'%>

<%end%>

    