<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%flash.each do |k, v|%>
	<span class=<%=k.to_s%>><%=v%></span>
<%end%>
<%if @user.errors.any?%>
    <ul>
<%@user.errors.messages.each do |k, v| %>
    <li><%=k%> <%=v[0]%>
 </li>
<%end%>
</ul>
<%end%>
<%= yield %>

</body>
</html>
